body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    font-family: 'Poppins'; /* Added fallback font */
  }
  
  .top-right-box {
    background-color: #111111;
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 6px;
    display: flex;
    align-items: center;
    padding: 15px;
    color: #ffffff;
    min-width: 280px;
    max-width: 280px;
    animation-duration: 0.5s;
    animation-fill-mode: both;
    margin-bottom: 20px;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(100%);
    }
  }
  
  .slide-in {
    animation-name: slideIn;
  }
  
  .slide-out {
    animation-name: slideOut;
  }
  
  
  .text-content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center text content vertically */
    max-width: 250px;
  }
  
  .text-content .title {
    margin: 0;
    font-size: 16px;
    font-weight: 600;
  }
  
  .text-content .text {
    margin: 5px 0 0 0; /* Add margin-top to create space between the title and text */
    font-size: 13px;
    font-weight: 400;
  }

  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .button-container button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .input-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .input-container input {
    margin: 0 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  




/* ALERT DIALOG */
/* ALERT DIALOG */
/* ALERT DIALOG */
/* ALERT DIALOG */

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.alert {
  text-align: center;
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #fff;
}

.alert #title {
  margin: 0;
}


.button-group {
  margin-top: 20px;
}

.alertbtn {
  padding: 10px 10px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  background-color: #007BFF;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.alertbtn#cancel {
  background-color: #dc3545;
}

.alertbtn:hover {
  opacity: 0.9;
}
